{% extends 'base.html' %}

{% block unique_stylesheet_dependencies %}

    <link rel="stylesheet" href="/static/css/home.css"> </script>

{% endblock %}

{% block additional_navbar_content %}

    <!-- Search bar -->
    <div class="fake-input">
        <img src="/static/images/searchicon.png" width=25 />  <!-- Search Icon -->
        <input type="text"  id="entry" placeholder="Search" title="Type in a name">
    </div>

{% endblock %}

{% block additional_pages %}

   <div class="slantedDivA"></div>

{% endblock %}