{% extends 'base.html' %}

{% block unique_stylesheet_dependencies %}
{% endblock %}

{% block additional_pages %}

   <div class="slantedDivA"></div>

   <br/><br/><br/><br/><br/>
    
    <div class= "row justify-content-around">
        <h1 id="intro" class="display-4">Experience</h1>
    </div>

    <br/><br/><br/><br/><br/>

    <p style="text-align: center;"> Microsoft Internship Summer 2019 </p>
    <p style="text-align: center;"> Bing Maps Team </p>
    <p style="text-align: center;"> Architected and developed a geodata approval tool </p>
        
  

{% endblock %}