{% extends 'base.html' %}

{% block unique_stylesheet_dependencies %}

    <link rel="stylesheet" href="/static/css/home.css"> </script>
    <script type='text/javascript' src="/static/javascript/home.js"> </script>

{% endblock %}


{% block additional_pages %}

   <div class="slantedDivA"></div>
    
    <div class= "row justify-content-around">
        <h1 id="intro" class="display-4">Hi, my name is Dhairya Surana</h1>
    </div>

    <br/><br/><br/><br/><br/>
    <div class="row justify-content-around">
        <button id="scroll-down-anchor" type="btn" class="btn btn-outline-dark">
            <i class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
        </button>
    </div>
        
  

{% endblock %}